node_modules
.pnpm-store
.tools
.expo
.turbo
dist
coverage
logs
.git
.env
.env.*
!/.env.example
apps/**/data/*.json
apps/mobile/android/.gradle
apps/mobile/android/build
apps/mobile/android/app/build
apps/mobile/android/local.properties
*.log
*.apk
